* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desaparecer {
    display: none !important;
}

.flex {
    display: flex;
}

.centralizar {
    align-items: center;
    justify-content: center;
}

.meio {
    align-items: center;

}

.espacoEntre {
    justify-content: space-around;
    align-content: space-around;
}

.coluna {
    flex-direction: column;
}

#div_lateral {
    width: 25%;
    height: 100vh;
}

#caixa_blur {
    width: 25%;
    height: 101.5%;

    position: absolute;

    left: -20px;
    top: -10px;

    background: #999FF3;
    filter: blur(20px);
    z-index: 0;
}

.texto_lateral {
    z-index: 10;

    width: 110%;

    margin-top: 20px;
    padding-left: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;

    color: #000000;

    cursor: pointer;
}

.corAzul {
    background: #94D2F8;
}

#corpo {
    width: 75%;
    height: 10vh;
}

/* LOGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
        #logo {
            position: absolute;
            right: 360px;
            top: 45px;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            font-weight: 700;

            font-size: 3.3vw;

            color: #FFFFFF;
        }

        .Camada_2 {
            background-image: url("Camada 2.png");
            position: absolute;
            width: 44.19px;
            height: 80.08px;
            right: 23.5%;
            top: 5%;

            transform: rotate(3.0deg);
            z-index: 3;
        }

        .Camada_3 {
            width: 60.19px;
            height: 40.08px;

            background-image: url("Camada 3.png");
            position: absolute;
            left: 41.2%;
            top: 9.2%;
            transform: rotate(5.08deg);

            z-index: 3;
        }

        #rodaDireita {
            position: absolute;
            width: 48px;
            height: 38px;
            left: 63%;
            top: 13.9%;
        }

        #rodaEsquerda {
            position: absolute;
            width: 48px;
            height: 38px;
            left: 50%;
            top: 13.9%;

        }

.fundoAzul {
    background-color: #94D2F8;
}

/* ADD CLIIIIIIIIIIIIIIIIIIII */

        #fieldCli {
            position: absolute;
            width: 800px;
            height: 400px;
            left: 35%;
            top: 25%;

            background: #D8F3EB;
            border: 3px solid #38B8D4;
        }

        label {
            cursor: pointer;

            font-family: sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #000000;

        }

        #labId {
            padding-right: 80px;
        }

        #labSexo {
            padding-right: 10px;
            padding-left: 80px;
        }

        #labNasc {
            padding-left: 110px;
        }

        #labCad {
            padding-left: 90px;
        }

        .espacoLabelPqn {
            margin-top: 10px;

        }

        .input_pqn {
            width: 100px;
            height: 45px;
            background: rgba(255, 255, 255, 0.88);
            border: 3px solid rgba(0, 0, 0, 0.44);
            border-radius: 18px;
            margin-bottom: 3px;
            margin-left: 45px;
            margin-right: 45px;

        }

        .input_med {
            width: 267.45px;
            height: 45px;
            background: rgba(255, 255, 255, 0.88);
            border: 3px solid rgba(0, 0, 0, 0.44);
            border-radius: 18px;
            margin-top: 30px;
            margin-bottom: 3px;

        }

        .input_grd {
            width: 350.96px;
            height: 45px;
            background: rgba(255, 255, 255, 0.88);
            border: 3px solid rgba(0, 0, 0, 0.44);
            border-radius: 18px;
            margin-top: 30px;
            margin-bottom: 3px;


        }

        .botao_form {
            width: 211px;
            height: 45px;
            border-radius: 18px;
            cursor: pointer;
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 5px;

            font-family: sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #000000;


        }

        #salvar {
            background: rgba(66, 255, 0, 0.44);
            border: 3px solid rgba(66, 255, 0, 0.44);

        }

        #excluir {
            background: rgba(255, 0, 15, 0.84);
            border: 3px solid rgba(211, 9, 9, 0.65);
        }

